<section class="content-section">
  <div class="container-fluid">
    <h2>Recent posts</h2>
    <div class="row" *ngIf="allBlogs.length > 0">
      <div class="col-md-3" *ngFor="let blog of allBlogs">
        <h3 class="font-weight-bold mb-3"><strong>
            <h3>{{ blog.title | uppercase }}</h3>
          </strong></h3>
        <p class="dark-grey-text">{{ blog.description }}</p>
        <p>by <a class="font-weight-bold">{{ blog.author }}</a>, {{ blog.created | date }}</p>
        <a routerLink="['/blog', blog.blogId]" class="btn btn-primary btn-md">Read more</a>
      </div>
    </div>
  </div>
</section>
